In [1]:
import pandas as pd
import numpy as np
import sqlite3

In [47]:
combined_df=pd.DataFrame(columns = ["area","st","year", "occ_title","occ_group","tot_emp","h_median"])
file_list=[]
file_suffix=""
file_structure=f"./state_M{file_suffix}"
for x in range(2002, 2019):
    if x <2014 :
        file_suffix=f"{x}_dl.xls"
    else:
        file_suffix=f"{x}_dl.xlsx"        
    temp_df=pd.read_excel(file_structure+file_suffix)
    temp_df.columns = [y.lower() for y in temp_df.columns]
    temp_df["year"]=x
#   The occupational group changed names in 2012 from group to occ group
#   The old ones only had major and total defined and detailed was blank also
    if x < 2012:
        temp_df["occ_group"]=temp_df["group"]
        temp_df["occ_group"].fillna('detailed',inplace=True)
    temp_df=temp_df[["area","st","year", "occ_title","occ_group","tot_emp","h_median"]]

    print(f"year = {x}")
    print(temp_df.info())
    combined_df.append(temp_df,ignore_index=True)
    file_list.append(file_structure+file_suffix)


print(file_list)

year = 2002
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32406 entries, 0 to 32405
Data columns (total 7 columns):
area         32406 non-null int64
st           32406 non-null object
year         32406 non-null int64
occ_title    32406 non-null object
occ_group    32406 non-null object
tot_emp      32406 non-null object
h_median     32406 non-null object
dtypes: int64(2), object(5)
memory usage: 1.7+ MB
None
year = 2003
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32355 entries, 0 to 32354
Data columns (total 7 columns):
area         32355 non-null int64
st           32355 non-null object
year         32355 non-null int64
occ_title    32355 non-null object
occ_group    32355 non-null object
tot_emp      32355 non-null object
h_median     32355 non-null object
dtypes: int64(2), object(5)
memory usage: 1.7+ MB
None
year = 2004
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35859 entries, 0 to 35858
Data columns (total 7 columns):
area         35859 non-null int64
st           35859 non-null object
year         35859 non-null int64
occ_title    35859 non-null object
occ_group    35859 non-null object
tot_emp      35859 non-null object
h_median     35859 non-null object
dtypes: int64(2), object(5)
memory usage: 1.9+ MB
None
year = 2005
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36240 entries, 0 to 36239
Data columns (total 7 columns):
area         36240 non-null int64
st           36240 non-null object
year         36240 non-null int64
occ_title    36240 non-null object
occ_group    36240 non-null object
tot_emp      36240 non-null object
h_median     36240 non-null object
dtypes: int64(2), object(5)
memory usage: 1.9+ MB
None
year = 2006
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35797 entries, 0 to 35796
Data columns (total 7 columns):
area         35797 non-null int64
st           35797 non-null object
year         35797 non-null int64
occ_title    35797 non-null object
occ_group    35797 non-null object
tot_emp      35797 non-null object
h_median     35797 non-null object
dtypes: int64(2), object(5)
memory usage: 1.9+ MB
None
year = 2007
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36822 entries, 0 to 36821
Data columns (total 7 columns):
area         36822 non-null int64
st           36822 non-null object
year         36822 non-null int64
occ_title    36822 non-null object
occ_group    36822 non-null object
tot_emp      36822 non-null object
h_median     36822 non-null object
dtypes: int64(2), object(5)
memory usage: 2.0+ MB
None
year = 2008
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36765 entries, 0 to 36764
Data columns (total 7 columns):
area         36765 non-null int64
st           36765 non-null object
year         36765 non-null int64
occ_title    36765 non-null object
occ_group    36765 non-null object
tot_emp      36765 non-null object
h_median     36765 non-null object
dtypes: int64(2), object(5)
memory usage: 2.0+ MB
None
year = 2009
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36728 entries, 0 to 36727
Data columns (total 7 columns):
area         36728 non-null int64
st           36728 non-null object
year         36728 non-null int64
occ_title    36728 non-null object
occ_group    36728 non-null object
tot_emp      36728 non-null object
h_median     36728 non-null object
dtypes: int64(2), object(5)
memory usage: 2.0+ MB
None
year = 2010
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36566 entries, 0 to 36565
Data columns (total 7 columns):
area         36566 non-null int64
st           36566 non-null object
year         36566 non-null int64
occ_title    36566 non-null object
occ_group    36566 non-null object
tot_emp      36566 non-null object
h_median     36566 non-null object
dtypes: int64(2), object(5)
memory usage: 2.0+ MB
None
year = 2011
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36637 entries, 0 to 36636
Data columns (total 7 columns):
area         36637 non-null int64
st           36637 non-null object
year         36637 non-null int64
occ_title    36637 non-null object
occ_group    36637 non-null object
tot_emp      36637 non-null object
h_median     36637 non-null object
dtypes: int64(2), object(5)
memory usage: 2.0+ MB
None
year = 2012
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37634 entries, 0 to 37633
Data columns (total 7 columns):
area         37634 non-null int64
st           37634 non-null object
year         37634 non-null int64
occ_title    37634 non-null object
occ_group    37634 non-null object
tot_emp      37634 non-null object
h_median     37634 non-null object
dtypes: int64(2), object(5)
memory usage: 2.0+ MB
None
year = 2013
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37725 entries, 0 to 37724
Data columns (total 7 columns):
area         37725 non-null int64
st           37725 non-null object
year         37725 non-null int64
occ_title    37725 non-null object
occ_group    37725 non-null object
tot_emp      37725 non-null object
h_median     37725 non-null object
dtypes: int64(2), object(5)
memory usage: 2.0+ MB
None
year = 2014
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37717 entries, 0 to 37716
Data columns (total 7 columns):
area         37717 non-null int64
st           37717 non-null object
year         37717 non-null int64
occ_title    37717 non-null object
occ_group    37717 non-null object
tot_emp      37717 non-null object
h_median     37717 non-null object
dtypes: int64(2), object(5)
memory usage: 2.0+ MB
None
year = 2015
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37642 entries, 0 to 37641
Data columns (total 7 columns):
area         37642 non-null int64
st           37642 non-null object
year         37642 non-null int64
occ_title    37642 non-null object
occ_group    37642 non-null object
tot_emp      37642 non-null object
h_median     37642 non-null object
dtypes: int64(2), object(5)
memory usage: 2.0+ MB
None
year = 2016
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37561 entries, 0 to 37560
Data columns (total 7 columns):
area         37561 non-null int64
st           37561 non-null object
year         37561 non-null int64
occ_title    37561 non-null object
occ_group    37561 non-null object
tot_emp      37561 non-null object
h_median     37561 non-null object
dtypes: int64(2), object(5)
memory usage: 2.0+ MB
None
year = 2017
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36992 entries, 0 to 36991
Data columns (total 7 columns):
area         36992 non-null int64
st           36992 non-null object
year         36992 non-null int64
occ_title    36992 non-null object
occ_group    36992 non-null object
tot_emp      36992 non-null object
h_median     36992 non-null object
dtypes: int64(2), object(5)
memory usage: 2.0+ MB
None
year = 2018
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36897 entries, 0 to 36896
Data columns (total 7 columns):
area         36897 non-null int64
st           36897 non-null object
year         36897 non-null int64
occ_title    36897 non-null object
occ_group    36897 non-null object
tot_emp      36897 non-null object
h_median     36897 non-null object
dtypes: int64(2), object(5)
memory usage: 2.0+ MB
None
['./state_M2002_dl.xls', './state_M2003_dl.xls', './state_M2004_dl.xls', './state_M2005_dl.xls', './state_M2006_dl.xls', './state_M2007_dl.xls', './state_M2008_dl.xls', './state_M2009_dl.xls', './state_M2010_dl.xls', './state_M2011_dl.xls', './state_M2012_dl.xls', './state_M2013_dl.xls', './state_M2014_dl.xlsx', './state_M2015_dl.xlsx', './state_M2016_dl.xlsx', './state_M2017_dl.xlsx', './state_M2018_dl.xlsx']

In [49]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 7 columns):
area         0 non-null object
st           0 non-null object
year         0 non-null object
occ_title    0 non-null object
occ_group    0 non-null object
tot_emp      0 non-null object
h_median     0 non-null object
dtypes: object(7)
memory usage: 0.0+ bytes

In [12]:
data_df["year"]=2002

In [24]:
data_df

,area,st,state,occ_code,occ_title,group,tot_emp,emp_prse,h_mean,a_mean,...,h_median,h_wpct75,h_wpct90,a_wpct10,a_wpct25,a_median,a_wpct75,a_wpct90,annual,year
0,1,AL,Alabama,00-0000,All Occupations,major,1819390,0.5,14.88,30940,...,11.37,18.13,26.94,13250,16420,23640,37710,56040,NaN,2002
1,1,AL,Alabama,11-0000,Management occupations,major,103720,1.2,32.19,66960,...,27.93,40.33,56.54,26200,38450,58100,83880,117600,NaN,2002
2,1,AL,Alabama,11-1011,Chief executives,NaN,5340,2.8,60.22,125260,...,56.3,#,#,44940,73230,117110,#,#,NaN,2002
3,1,AL,Alabama,11-1021,General and operations managers,NaN,31660,1.8,34.63,72040,...,28.53,43.53,65.57,27110,39100,59350,90540,136390,NaN,2002
4,1,AL,Alabama,11-1031,Legislators,NaN,1730,20.7,7.71,16030,...,6.64,7.51,9.73,11820,12590,13820,15620,20240,NaN,2002
5,1,AL,Alabama,11-2011,Advertising and promotions managers,NaN,770,5.1,24.42,50790,...,20.33,30.27,43.39,23590,30520,42280,62970,90250,NaN,2002
6,1,AL,Alabama,11-2021,Marketing managers,NaN,1590,4.5,34.97,72740,...,31.16,42.92,57.64,33830,45000,64820,89280,119890,NaN,2002
7,1,AL,Alabama,11-2022,Sales managers,NaN,4630,6.2,31.61,65760,...,27.03,39.02,54.99,29710,37910,56230,81170,114370,NaN,2002
8,1,AL,Alabama,11-2031,Public relations managers,NaN,660,6.4,24.86,51710,...,21.35,30.36,43.38,26020,30880,44410,63150,90240,NaN,2002
9,1,AL,Alabama,11-3011,Administrative services managers,NaN,3310,4.6,24.53,51020,...,21.75,31.26,41.8,22700,30160,45230,65030,86940,NaN,2002
10,1,AL,Alabama,11-3021,Computer and information systems managers,NaN,3200,7.7,34.06,70850,...,33.72,41.96,50.63,37960,51050,70130,87270,105320,NaN,2002
11,1,AL,Alabama,11-3031,Financial managers,NaN,6820,3.1,31.22,64940,...,27.73,38.23,49.99,32920,42580,57680,79520,103980,NaN,2002
12,1,AL,Alabama,11-3040,Human resources managers,NaN,2560,5.7,27.67,57550,...,25.69,33.84,43.22,31250,40360,53440,70390,89900,NaN,2002
13,1,AL,Alabama,11-3051,Industrial production managers,NaN,2740,3.4,30.61,63660,...,28.2,37.21,46.88,35270,44880,58650,77410,97510,NaN,2002
14,1,AL,Alabama,11-3061,Purchasing managers,NaN,1420,3.5,27.99,58220,...,25.49,35.87,46.57,27140,36730,53010,74610,96870,NaN,2002
15,1,AL,Alabama,11-3071,"Transportation, storage, and distribution mana...",NaN,1550,5,26.66,55460,...,24.86,32.62,40.82,30190,38460,51710,67850,84910,NaN,2002
16,1,AL,Alabama,11-9011,"Farm, ranch, and other agricultural managers",NaN,60,20.2,24.8,51590,...,20.23,28.23,41.33,30450,34790,42080,58720,85970,NaN,2002
17,1,AL,Alabama,11-9021,Construction managers,NaN,3950,6.9,29.59,61550,...,27.22,35.47,44.58,36620,43960,56620,73770,92720,NaN,2002
18,1,AL,Alabama,11-9031,"Education administrators, preschool and child ...",NaN,360,15.7,23.68,49250,...,14.65,25.53,64.03,19760,23120,30480,53110,133170,NaN,2002
19,1,AL,Alabama,11-9032,"Education administrators, elementary and secon...",NaN,2850,5.8,*,63170,...,*,*,*,48510,56600,64850,71720,77280,True,2002
20,1,AL,Alabama,11-9033,"Education administrators, postsecondary",NaN,2670,6.2,34.09,70910,...,29.84,42.9,59.1,32660,42810,62070,89230,122930,NaN,2002
21,1,AL,Alabama,11-9041,Engineering managers,NaN,3830,3.7,42.22,87820,...,42.11,50.28,58.02,57300,71390,87590,104570,120690,NaN,2002
22,1,AL,Alabama,11-9051,Food service managers,NaN,4790,7.5,15.74,32730,...,14.16,18.76,24.99,19120,23070,29460,39010,51990,NaN,2002
23,1,AL,Alabama,11-9061,Funeral directors,NaN,350,15.5,16.87,35090,...,14.91,20.31,26.64,21650,25800,31000,42240,55410,NaN,2002
24,1,AL,Alabama,11-9081,Lodging managers,NaN,510,16.8,15.7,32650,...,13.9,19.78,22.73,20370,23960,28900,41130,47280,NaN,2002
25,1,AL,Alabama,11-9111,Medical and health services managers,NaN,3140,3.2,30.46,63360,...,27.97,35.53,45.82,35570,46980,58170,73890,95310,NaN,2002
26,1,AL,Alabama,11-9121,Natural sciences managers,NaN,360,7.6,38,79050,...,36.58,46.8,55.18,45400,61300,76090,97350,114760,NaN,2002
27,1,AL,Alabama,11-9131,Postmasters and mail superintendents,NaN,520,0,23.4,48680,...,23.59,26.76,31.41,35980,41550,49060,55660,65340,NaN,2002
28,1,AL,Alabama,11-9141,"Property, real estate, and community associati...",NaN,1730,11.6,17.81,37050,...,15.05,21.29,31.99,16110,23490,31310,44270,66530,NaN,2002
29,1,AL,Alabama,11-9151,Social and community service managers,NaN,960,6.6,18.26,37970,...,16.26,22.35,30.24,22050,26540,33820,46490,62900,NaN,2002
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32376,78,VI,Virgin Islands,49-9098,"Helpers--installation, maintenance, and repair...",NaN,70,9.1,8.4,17470,...,8.25,9.64,10.86,13130,15030,17160,20050,22590,NaN,2002
32377,78,VI,Virgin Islands,51-0000,Production occupations,major,1960,1.8,16.93,35220,...,12.82,26.25,32.79,13920,17370,26660,54590,68210,NaN,2002
32378,78,VI,Virgin Islands,51-1011,First-line supervisors/managers of production ...,NaN,180,2.6,27.98,58200,...,28.51,39.54,42.76,28570,35030,59310,82250,88940,NaN,2002
32379,78,VI,Virgin Islands,51-3011,Bakers,NaN,70,8.4,9.6,19970,...,9.33,11.03,13.24,13260,15840,19410,22940,27530,NaN,2002
32380,78,VI,Virgin Islands,51-3021,Butchers and meat cutters,NaN,40,8,11.68,24300,...,11.03,13.39,16.38,17490,19760,22940,27850,34070,NaN,2002
32381,78,VI,Virgin Islands,51-4121,"Welders, cutters, solderers, and brazers",NaN,110,2.4,14.85,30880,...,14.31,17.24,19.97,23840,25780,29760,35870,41540,NaN,2002
32382,78,VI,Virgin Islands,51-6011,Laundry and dry-cleaning workers,NaN,200,4.7,7.2,14970,...,7.27,8.18,8.78,11860,13020,15130,17010,18270,NaN,2002
32383,78,VI,Virgin Islands,51-8021,Stationary engineers and boiler operators,NaN,30,3,16.21,33720,...,14.88,18,22.57,23160,26070,30950,37440,46950,NaN,2002
32384,78,VI,Virgin Islands,51-9012,"Separating, filtering, clarifying, precipitati...",NaN,40,0,8.4,17470,...,8.32,10.23,11.13,12230,14060,17310,21270,23150,NaN,2002
32385,78,VI,Virgin Islands,51-9061,"Inspectors, testers, sorters, samplers, and we...",NaN,50,0,14.35,29840,...,14.71,16.24,17.35,21300,26300,30600,33780,36090,NaN,2002
32386,78,VI,Virgin Islands,51-9071,Jewelers and precious stone and metal workers,NaN,60,10.9,17.16,35680,...,16.29,20.96,26.15,21740,26130,33890,43600,54400,NaN,2002
32387,78,VI,Virgin Islands,51-9111,Packaging and filling machine operators and te...,NaN,60,2.9,8.32,17310,...,8.31,10.27,11.14,12020,13400,17280,21360,23170,NaN,2002
32388,78,VI,Virgin Islands,53-0000,Transportation and material moving occupations,major,2550,3.5,10.68,22210,...,9.37,12.77,16.94,13300,15580,19490,26570,35240,NaN,2002
32389,78,VI,Virgin Islands,53-1021,"First-line supervisors/managers of helpers, la...",NaN,30,7.2,15.23,31680,...,14.47,16.82,19.95,22940,25660,30100,34990,41490,NaN,2002
32390,78,VI,Virgin Islands,53-1031,First-line supervisors/managers of transportat...,NaN,100,5.1,17.56,36530,...,16.83,20.97,25.41,24030,28420,35000,43620,52860,NaN,2002
32391,78,VI,Virgin Islands,53-3022,"Bus drivers, school",NaN,90,0.8,11.08,23050,...,10.52,12.97,16.16,16570,18240,21890,26980,33610,NaN,2002
32392,78,VI,Virgin Islands,53-3032,"Truck drivers, heavy and tractor-trailer",NaN,290,8.3,11.7,24340,...,11.02,13.51,16.74,17340,19870,22920,28090,34810,NaN,2002
32393,78,VI,Virgin Islands,53-3033,"Truck drivers, light or delivery services",NaN,320,7.2,9.58,19930,...,9.26,10.9,12.89,15300,16750,19250,22680,26800,NaN,2002
32394,78,VI,Virgin Islands,53-3041,Taxi drivers and chauffeurs,NaN,70,2.3,8.48,17650,...,8.18,9.5,11.05,14380,15490,17020,19760,22990,NaN,2002
32395,78,VI,Virgin Islands,53-5011,Sailors and marine oilers,NaN,130,22.1,8.27,17200,...,8.19,9.19,10.87,12930,14910,17030,19120,22600,NaN,2002
32396,78,VI,Virgin Islands,53-5021,"Captains, mates, and pilots of water vessels",NaN,130,15.3,17.27,35920,...,15.13,19.58,27.04,25320,27460,31470,40720,56250,NaN,2002
32397,78,VI,Virgin Islands,53-6031,Service station attendants,NaN,120,14,6.55,13620,...,6.53,7.05,7.79,11890,12540,13580,14670,16210,NaN,2002
32398,78,VI,Virgin Islands,53-6051,Transportation inspectors,NaN,40,34.9,12.82,26670,...,11.58,15.98,18.69,18190,20330,24090,33240,38880,NaN,2002
32399,78,VI,Virgin Islands,53-7021,Crane and tower operators,NaN,80,0,16.69,34720,...,16.59,19.2,21.44,26320,30860,34520,39930,44590,NaN,2002
32400,78,VI,Virgin Islands,53-7032,Excavating and loading machine and dragline op...,NaN,50,4.1,10.28,21380,...,9.91,11.8,13.39,15780,18040,20620,24550,27850,NaN,2002
32401,78,VI,Virgin Islands,53-7051,Industrial truck and tractor operators,NaN,90,1.2,11.58,24090,...,11.07,13.6,16.93,15820,18310,23030,28280,35210,NaN,2002
32402,78,VI,Virgin Islands,53-7061,Cleaners of vehicles and equipment,NaN,80,15.1,7.22,15010,...,7.24,7.99,8.48,12350,13700,15060,16630,17630,NaN,2002
32403,78,VI,Virgin Islands,53-7062,"Laborers and freight, stock, and material move...",NaN,320,4.3,7.97,16580,...,7.9,8.97,10.35,12750,14550,16420,18660,21530,NaN,2002
32404,78,VI,Virgin Islands,53-7081,Refuse and recyclable material collectors,NaN,90,4.3,7.97,16570,...,7.67,8.87,11.23,11980,13880,15950,18450,23360,NaN,2002
32405,78,VI,Virgin Islands,53-7121,"Tank car, truck, and ship loaders",NaN,70,0,9.15,19040,...,9.36,10.14,10.61,15630,17700,19480,21100,22070,NaN,2002

In [40]:
df = pd.DataFrame([[1, 2], [3, 4]], columns=list('AB'))


df2 = pd.DataFrame([[5, 6], [7, 8]], columns=list('AB'))
df

   A  B
0  1  2
1  3  4

In [41]:
df.append(df2)
df

   A  B
0  1  2
1  3  4